dfrpacurso/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfrpacurso"
		},
		"ls_AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_AzureDatabricks'"
		},
		"ls_dlsrpacurso_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_dlsrpacurso'"
		},
		"ls_sistemaArchivosLocal_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sistemaArchivosLocal'"
		},
		"ls_sqlServerlocal_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sqlServerlocal'"
		},
		"az_curso_ev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_curso_ev'"
		},
		"kv_rpacurso_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-rpacurso.vault.azure.net/"
		},
		"ls_sistemaArchivosLocal_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "D:\\Data_Factory"
		},
		"ls_sistemaArchivosLocal_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "uio\\tlozada"
		},
		"ls_sqlServerlocal_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "UIO\\tlozada"
		},
		"sc_calendarizado_properties_PL_PAR_IMPAR_parameters_num_analizar": {
			"type": "int",
			"defaultValue": 10
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_FACTORIAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Factorial",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "rangeList",
							"value": {
								"value": "@range(1,pipeline().parameters.num_analizar)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Factorial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('rangeList')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Multiplicar",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "aux",
										"value": {
											"value": "@string(mul(int(variables('factorial')),item()))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set factorial",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Multiplicar",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "factorial",
										"value": {
											"value": "@variables('aux')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"num_analizar": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"factorial": {
						"type": "String",
						"defaultValue": "1"
					},
					"aux": {
						"type": "String"
					},
					"rangeList": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PAR_IMPAR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Espar",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "esPar",
							"value": {
								"value": "@equals(mod(pipeline().parameters.num_analizar,2),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Mensaje",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Espar",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('esPar')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set mensaje impar",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "mensaje",
										"value": {
											"value": "El número @{pipeline().parameters.num_analizar} es impar",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set mensaje par",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "mensaje",
										"value": {
											"value": "El número @{pipeline().parameters.num_analizar} es par",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"num_analizar": {
						"type": "int"
					}
				},
				"variables": {
					"esPar": {
						"type": "Boolean"
					},
					"mensaje": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_WAIT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 120
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "X",
							"value": "X"
						}
					}
				],
				"variables": {
					"X": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kv_rpacurso')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('kv_rpacurso_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3370402401448293.13.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "0728-172028-okra247"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_dlsrpacurso')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_dlsrpacurso_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-rpa-curso')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "On premise",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_NOTEBOOK_DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/HolaDataFactory"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Cars2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dlsrpacurso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "cars2.csv",
						"container": "acirpacurso"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Make",
						"type": "String"
					},
					{
						"name": "Model",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "DriveTrain",
						"type": "String"
					},
					{
						"name": "Length",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dlsrpacurso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_ResultadoSPTest1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dlsrpacurso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "acirpacurso"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Make",
						"type": "String"
					},
					{
						"name": "Model",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "DriveTrain",
						"type": "String"
					},
					{
						"name": "Length",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dlsrpacurso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_ResultadoSaludos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dlsrpacurso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ResultadosTest.csv",
						"container": "acirpacurso"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Make",
						"type": "String"
					},
					{
						"name": "Model",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "DriveTrain",
						"type": "String"
					},
					{
						"name": "Length",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dlsrpacurso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_N')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dlsrpacurso",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directorio": {
						"type": "string"
					},
					"nombreArchivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "Orden_@{dataset().nombreArchivo}.parquet",
							"type": "Expression"
						},
						"folderPath": {
							"value": "Orden/@{dataset().directorio}",
							"type": "Expression"
						},
						"container": "acingest"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dlsrpacurso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_nube_v3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dlsrpacurso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "cars3.csv",
						"container": "acirpacurso"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dlsrpacurso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sistemaArchivosLocal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_sistemaArchivosLocal_properties_typeProperties_host')]",
					"userId": "[parameters('ls_sistemaArchivosLocal_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sistemaArchivosLocal_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ir-rpa-curso",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-rpa-curso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlServerlocal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sqlServerlocal_connectionString')]",
					"userName": "[parameters('ls_sqlServerlocal_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_rpacurso",
							"type": "LinkedServiceReference"
						},
						"secretName": "uio-tlozada"
					}
				},
				"connectVia": {
					"referenceName": "ir-rpa-curso",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-rpa-curso')]",
				"[concat(variables('factoryId'), '/linkedServices/kv_rpacurso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sc_calendarizado')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_PAR_IMPAR",
							"type": "PipelineReference"
						},
						"parameters": {
							"num_analizar": "[parameters('sc_calendarizado_properties_PL_PAR_IMPAR_parameters_num_analizar')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2020-08-07T21:50:00.000Z",
						"endTime": "2020-08-08T21:50:00.998Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_PAR_IMPAR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sc_wait')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_WAIT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2020-08-07T22:04:00.000Z",
						"endTime": "2020-08-08T22:04:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_WAIT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_curso_ev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('az_curso_ev_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-rpa-curso",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-rpa-curso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TBL_SQLServer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlServerlocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlServerlocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/XLSX_Cars2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sistemaArchivosLocal",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Hoja1",
					"location": {
						"type": "FileServerLocation",
						"fileName": "CopiaCars2"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sistemaArchivosLocal')]"
			]
		}
	]
}