factorydata/pipeline/PL_CARGA_COMPLETA_ORDEN.json
{
	"name": "PL_CARGA_COMPLETA_ORDEN",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "DECLARE @location_type VARCHAR(50) = '@{pipeline().parameters.locationtype}'   ;\nSELECT *\nFROM orden\nWHERE location_type = @location_type",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TBL_SQLServer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Lookup1').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_CARGA_ORDEN",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CARGA_ORDEN",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"locationtype": {
										"value": "@item().locationtype",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"locationtype": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Curso_HandyTec/Ejercicio"
		},
		"annotations": []
	}
}