factorydata/pipeline/PL_FACTORIAL.json
{
	"name": "PL_FACTORIAL",
	"properties": {
		"activities": [
			{
				"name": "Factorial",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rangeList",
					"value": {
						"value": "@range(1,pipeline().parameters.num_analizar)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Factorial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('rangeList')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Multiplicar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aux",
								"value": {
									"value": "@string(mul(int(variables('factorial')),item()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set factorial",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Multiplicar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "factorial",
								"value": {
									"value": "@variables('aux')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"num_analizar": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"factorial": {
				"type": "String",
				"defaultValue": "1"
			},
			"aux": {
				"type": "String"
			},
			"rangeList": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}